@model Room
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>AddRoom</title>
    <link href="SiteStile.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="text-center">
        <h1 class="display-4">Добавяне на стая</h1>
    </div>
    <div class="container">
        <form method="post" asp-action="AddRoom">
            <div asp-validation-summary="All" class="text-danger"></div>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>
                            <label>Номер на стаята:</label>
                            <br />
                            <input asp-for="RoomNumber" type="text">
                        </td>
                        <td>
                            <label>Тип</label>
                            <div class="dropdown">                              
                                <select asp-for="RoomType" asp-items="@Html.GetEnumSelectList<RoomType>()">
                                    <option selected="selected" value="">Изберете тип</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <label>Капацитет</label>
                            <br />
                            <input asp-for="Capacity" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Цена(възрастен):</label>
                            <input asp-for="PriceForAdult" type="text" class="form-control col-12">
                        </td>
                        <td>
                            <label>Цена(дете):</label>
                            <input asp-for="PriceForNonAdult" type="text" class="form-control col-12">
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary ml-3">Добави</button>
        </form>
    </div>
</body>
</html>