@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Adding a room";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>AddRoom</title>
    <link href="SiteStile.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="text-center">
        <h1 class="display-4">Добавяне на стая</h1>
    </div>
    <div class="container">
        <table class="table table-striped">

            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td>Стая</td>
                    <td>
                        <label for="usr">№:</label>
                        <input type="number">
                    </td>
                    <td>Тип</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                Избери
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Две единични легла</a></li>
                                <li><a href="#">Апартамент</a></li>
                                <li><a href="#">Стая с двойно легло</a></li>
                                <li><a href="#">Пентхаус</a></li>
                                <li><a href="#">Мезонет</a></li>

                            </ul>
                        </div>
                    </td>
                    <td>Капацитет</td>
                    <td><input type="number"></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Цена(възрастен):</td>
                    <td><input type="text" class="form-control col-12" id="usr4"></td>
                    <td>Цена(дете):</td>
                    <td><input type="text" class="form-control col-12" id="usr5"></td>
                    <td></td>
                    <td></td>
                </tr>

            </tbody>
        </table>
        <button type="button" class="btn btn-primary">Добави</button>
    </div>
</body>
</html>