@{
    ViewData["Title"] = "Home Page";
}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HomeAdmin</title>
        <link href="SiteStile.css" rel="stylesheet" type="text/css">
        <link href="css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <a asp-action="ListUsers" asp-controller="Administration" class="btn btn-block btn-info card-body">Потребители</a>
        <a asp-action="ListRoles" asp-controller="Administration" class="btn btn-block btn-info card-body">Роли</a>
        <a asp-action="ListRoom" asp-controller="Room" class="btn btn-block btn-info card-body">Стаи</a>
        <a asp-action="ListClient" asp-controller="Client" class="btn btn-block btn-info card-body">Клиенти</a>
        <a asp-action="ListReservation" asp-controller="Reservation" class="btn btn-block btn-info card-body">Резервации</a>
    </body>
</html>