@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>HomeUser</title>
    <link href="SiteStile.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="text-center">
        <h1 class="display-4">Добре дошли</h1>
    </div>
    <div>
        <a asp-controller="Room" asp-action="ListRoom" class="btn btn-info btn-primary mt-3 card-header">Стаи</a>
        <a asp-controller="Client" asp-action="ListClient" class="btn btn-info btn-primary mt-3 card-header">Клиенти</a>
        <a asp-controller="Reservation" asp-action="ListReservation" class="btn btn-info btn-primary mt-3 card-header">Резервации</a>
    </div> 
</body>
</html>
