@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>HomeUser</title>
    <link href="SiteStile.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="text-center">
        <h1 class="display-4">Добре дошли</h1>
    </div>

    <div>
        <p> <a asp-controller="Room" asp-action="ListRoom" class="btn btn-info bg-dark btn-block card-header mx-auto font-weight-bold" style="width: 800px;">Стаи</a></p>
        <p><a asp-controller="Client" asp-action="ListClient" class="btn btn-info bg-dark btn-block card-header mx-auto font-weight-bold" style="width: 800px;">Клиенти</a></p>
        <p><a asp-controller="Reservation" asp-action="ListReservation" class="btn bg-dark btn-info btn-block card-header mx-auto font-weight-bold" style="width: 800px;">Резервации</a></p>
    </div>
</body>
</html>
