@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add a client";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>AddClient</title>
    <link href="SiteStile.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="text-center">
        <h1 class="display-4">Добавяне на клиент</h1>
    </div>
    <form>
        <div class="form-group">
            <label for="usr">Собствено име:</label>
            <input type="text" class="form-control col-6" id="usr1">
        </div>
        <div class="form-group">
            <label for="usr">Фамилия:</label>
            <input type="text" class="form-control col-6" id="usr3">
        </div>
        <div class="form-group">
            <label for="usr">Телефон:</label>
            <input type="text" class="form-control col-6" id="usr4">
        </div>
        <div class="form-group">
            <label for="email">Имейл:</label>
            <input type="text" class="form-control col-6" id="email">
        </div>
        <div class="form-group">
            <label for="email">Възрастен:</label>
            <div><label><input type="checkbox" value="">Над 18 год.</label></div>
        </div>
        <button type="button" class="btn btn-primary">Добави</button>
    </form>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap-4.3.1.js"></script>
</body>
</html>