@model Reservation
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>AddReservation</title>
    <link href="SiteStile.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="text-center">
        <h1 class="display-4">Нова резервация</h1>
    </div>
    <div class="container">
        <form asp-action="CreateReservation" method="post">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>
                            <label>Номер на стая</label>
                            <br />
                            <input asp-for="Room" type="text">
                        </td>
                        <td>
                            <label>Дължима сума</label>
                            <input asp-for="TotalPrice" type="text" class="form-control col-12" disabled id="usr8">                         
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Дата настаняване:</label>
                            <input asp-for="ReservationDate" type="date" class="form-control col-12" id="usr5">
                        </td>
                        <td>
                            <label>Дата напускане:</label>
                            <input asp-for="LeavingDate" type="date" class="form-control col-12" id="usr6">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div><label><input asp-for="IncludedBreakfast" type="checkbox" value="">  Закуска</label></div>
                        </td>
                        <td>
                            <div><label><input asp-for="AllInclusive" type="checkbox" value="">  All Inclusive</label></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Клиенти</label>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                        Избери
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                    </ul>
                                </div>
                        </td>
                        <td>
                            <button class="btn btn-primary my-2 my-sm-0" type="submit">Добави</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>    
    </div>
</body>
</html>