@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>AddOrDeleteRole</title>
    <link href="SiteStile.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="text-center">
        <h1 class="display-4">Добавяне или изтриване на роля</h1>
    </div>
    <form>
        <p><input type="checkbox"></p>
        <p><input type="checkbox"></p>
        <p><input type="checkbox"></p>
        <p><input type="checkbox"></p>
    </form>
    <button class="btn btn-primary my-2 my-sm-0" type="submit">Запазване</button>
    <button class="btn btn-primary my-2 my-sm-0" type="submit">Затваряне</button>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap-4.3.1.js"></script>
</body>
</html>