@model HotelManager.ViewModels.AddUserViewModel
@{
    ViewData["Title"] = "Add a user";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Добавяне на потребител</title>
    <link href="SiteStile.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="text-center">
        <h1 class="display-4">Добавяне на потребител</h1>
    </div>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="container">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Потребителско име:</td>
                        <td><input asp-for="Username" type="text" class="form-control col-12"></td>
                        <td>Собствено име</td>
                        <td><input asp-for="FirstName" type="text" class="form-control col-12"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Бащино име</td>
                        <td><input asp-for="SecondName" type="text" class="form-control col-12"></td>
                        <td>Фамиля</td>
                        <td><input asp-for="LastName" type="text" class="form-control col-12"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Парола</td>
                        <td><input asp-for="Password" type="password" class="form-control col-12"></td>
                        <td>Потвърди Парола</td>
                        <td><input asp-for="ConfirmPassword" type="password" class="form-control col-12"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ЕГН</td>
                        <td><input asp-for="EGN" type="text" class="form-control col-12"></td>
                        <td>Имейл</td>
                        <td><input asp-for="Email" type="email" class="form-control col-12"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Дата назначаване</td>
                        <td><input asp-for="DateOfEmployment" type="date" class="form-control col-12"></td>
                        <td>Дата освобождаване</td>
                        <td><input asp-for="DateOfTermination" type="date" class="form-control col-12"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Телефон</td>
                        <td><input asp-for="PhoneNumber" type="text" class="form-control col-12"></td>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Добави</button>
        </div>
    </form>
</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}