@model IEnumerable<IdentityRole> 
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>AllRoles</title>
    <link href="SiteStile.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Всички роли</h1>
    </div>
    <a asp-action="CreateRole" class="btn btn-primary" cl>Добави роля</a>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Роля</th>
                    <th scope="col">Id Role</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (var role in Model)
                    {
                        <td>@role.Name</td>
                        <td>@role.Id</td>
                    }
                    <td>
                        <button type="button" class="btn btn-primary">Редактирай</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger">Изтрий</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap-4.3.1.js"></script>
</body>
</html>
